<section class="home">
    <app-header></app-header>
    <div class="home__container">
        <div class="home__image-container">
            <div class="home__image-border"><p class="home__image"><fa-icon [icon]="faMeh"></fa-icon></p></div>
            <p class="home__username">fysal</p>
        </div>
        <div class="home__image-container">
            <div class="home__image-border"><p class="home__image"><fa-icon [icon]="faUser"></fa-icon></p></div>
            <p class="home__username">jimmyedgar</p>
        </div>
        <div class="home__image-container">
            <div class="home__image-border"><p class="home__image"><fa-icon [icon]="faSmile"></fa-icon></p></div>
            <p class="home__username">anzola</p>
        </div>
        <div class="home__image-container">
            <div class="home__image-border"><p class="home__image"><fa-icon [icon]="faUserNinja"></fa-icon></p></div>
            <p class="home__username">arsheenss</p>
        </div>
        <div class="home__image-container">
            <div class="home__image-border"><p class="home__image"><fa-icon [icon]="faFrown"></fa-icon></p></div>
            <p class="home__username">gllnmpp</p>
        </div>
        <div class="home__image-container">
            <div class="home__image-border"><p class="home__image"><fa-icon [icon]="faUserAstronaut"></fa-icon></p></div>
            <p class="home__username">talwst</p>
        </div>
        <div class="home__image-container">
            <div class="home__image-border"><p class="home__image"><fa-icon [icon]="faUserSecret"></fa-icon></p></div>
            <p class="home__username">n10.as</p>
        </div>
    </div>
</section>
<app-home-gallery></app-home-gallery>



