<form class="form" #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
    <input type="text" class="form__username" #username="ngModel" [(ngModel)]="userService.selectedUser.username" name="username" placeholder="username" required [ngClass]="{'form__invalid' :signUpForm.submitted && !username.valid}">
    <div class="form__invalid-message" *ngIf="signUpForm.submitted && !username.valid">
        <label class="form__invalid-text">this field is required</label>
    </div> 
    <input type="text" class="form__email" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="email" required [pattern]="emailRegex" [ngClass]="{'form__invalid' :signUpForm.submitted && !email.valid}">
    <div class="form__invalid-message" *ngIf="signUpForm.submitted && email.errors">
        <label class="form__invalid-text" *ngIf="email.errors.required">this field is required</label>
        <label class="form__invalid-text" *ngIf="email.errors.pattern">invalid email address</label>
    </div>
    <input type="password" class="form__password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="password" minlength="6" required [ngClass]="{'form__invalid' :signUpForm.submitted && !password.valid}">
    <div class="form__invalid-message" *ngIf="signUpForm.submitted && password.errors">
        <label class="form__invalid-text" *ngIf="password.errors.required">this field is required</label>
        <label class="form__invalid-text" *ngIf="password.errors.minlength">password must be atleast 6 characters long</label>
    </div>
    <button type="submit" value="Sign Up">sign up</button>
</form>
<div class="form__success" *ngIf="showSuccessMessage">
    account created
</div>
<div class="form__error" *ngIf="serverErrorMessage">
    {{serverErrorMessage}}
</div>
<app-login></app-login>
<router-outlet></router-outlet>
