@import '../../styles/partials/variables';
@import '../../styles/partials/fonts';

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Aileron Thin';

    &__toggle-container {
        display: flex;
        justify-content: center;
    }

    &__toggle-signup,
    &__toggle-login {
        @include mobile {
            border: none;
            outline: none;
            font-family: 'Aileron Regular';
            background-color: white;
            border-bottom: 1px solid black;
            cursor: pointer;
            margin-right: 1rem;
            height: 30px;
            margin-bottom: 1rem;
        }

    }

    &__toggle-signup:hover,
    &__toggle-login:hover {
        font-weight: bolder;
    }

    &__username,
    &__email,
    &__password {
        @include mobile {
            width: 60%;
            margin-bottom: 0.5rem;
            height: 25px;
            border-radius: 5px;
            border: 2px solid black;
            outline: none;
            font-family: 'Aileron Regular';
        }
        @include tablet {
            width: 30%;
        }
        @include desktop {
            width: 20%;
        }
    }

    ::placeholder {
        font-family: 'Aileron Thin';
        padding-left: 0.5rem;
    }

    &__button {
        @include mobile {
            width: 30%;
            height: 28px;
            font-family: 'Aileron Regular';
            border: 1px solid black;
            outline: none;
            background-color: black;
            color: white;
            margin-top: 0.5rem;
            border-radius: 5px;
        }
        @include tablet {
            width: 15%;
        }
        @include desktop {
            width: 10%;
        }
    }
    &__invalid-message {
        @include mobile {
            margin-bottom: 0.5rem;
        }
    }

    &__invalid-text {
        @include mobile {
            color: red;
            font-size: 12px;
        }
    }

}