@import '../styles/partials/variables';
@import '../styles/partials/fonts';

.profile {
    font-family: 'Aileron Thin';
    cursor: pointer;

    &__user-container {
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
    }

    &__user-border {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid black;
        margin-top: 1rem;
        margin-left: 3vw;
    }

    &__image {
        display: flex;
        justify-content: center;
    }

    &__image-container {
        display: flex;
    }

    &__username {
        @include mobile {
            margin-left: 1rem;
        }
    }

    &__info {
        display: flex;
        margin-left: 4.2rem;
        margin-top: -2rem;
    }

    &__posts-number {
        font-family: 'Aileron Bold';
    }

    &__posts {
        padding-left: 3vw;
    }

    &__posts-number {
        display: flex;
        justify-content: center;
    }

    &__bio {
        @include mobile {
            margin-left: 3vw;
        }
        @include tablet {
            margin-left: 12vw;
        }
        @include desktop {
            margin-left:  7.2vw;
        }
    }

    &__form {
        @include mobile {
            display: none;
            width: 80%;
            height: 200px;
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            position: absolute;
            left: 2rem;
            top: -5rem;
            background-color: #f5f5f5;
            box-shadow: 0 0 5px 5px lavender;
        }
        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 30%;
        }
    }

    &__gallery-image {
        width: 50%;
        border-radius: 5px;
    }

    &__button-container {
        @include mobile {
            display: flex;
            justify-content: space-between;
            margin-right: 3vw;
        }
        @include desktop {
            margin-right: 1vw;
        }
    }

    &__form-exit-button {
        @include mobile {
            background-color: white;
            border: 1px solid white;
            padding-top: 0.5rem;
            font-weight: bolder;
        }
    }

    &__form-label,
    &__form-input,
    &__form-button {
        @include mobile {
            // margin: auto;
            display: flex;
            // flex-direction: column;
            align-items: left;
            margin-left: 3vw;
            margin-top: 0.5rem;
            font-size: 15px;
            font-family: 'Aileron Regular';
            // justify-content: center;
        }
    }

    &__form-input {
        @include mobile {
            width: 200px;
        }
    }

    &__form-button {
        @include mobile {
            background-color: black;
            width: 62px;
            height: 28px;
            color: white;
            border: 1px solid black;
            border-radius: 5px;
            // margin: auto;
            margin-top: 2rem;
            // font-size: 12px;

        }
    }

    &__open-button {
        @include mobile {
            background-color: black;
            color: white; 
            margin-left: 3vw;
            border: 1px solid black;
            border-radius: 5px;
            font-family: 'Aileron Regular';
            font-size: 12px;
            height: 30px;
            margin-bottom: 0.5rem;
            margin-top: 0.2rem;
        }
        @include tablet {
            margin-left: 12vw;
        }
        @include desktop {
            margin-left: 7.2vw;
        }
    }

    &__open-button-container {
        margin-top: -0.5rem;
        margin-bottom: 0.5rem;
    }

    &__form-container {
        @include mobile {
            position: relative
        }
    }

    &__gallery-image{
        @include mobile {
            width: 100%;
        }
    }

    &__gallery-image-container {
        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid white;
            border-radius: 5px;
            margin-top: 0.5rem;
        }
        @include tablet {
            width: 60%;
            margin: auto;
            margin-top: 1rem;
        }
        @include desktop {
            width: 40%;
            margin-top: 1rem;
        }
    }

    &__caption-container{
        display: flex; 
        justify-content: space-between;
    }

    &__gallery-caption,
    &__gallery-username,
    &__gallery-delete {
        @include mobile {
            font-size: 13px;
            padding-right: 0.5rem;
        }
        @include tablet {
            font-size: 15px;
        }
    }

    &__gallery-username {
        font-family: 'Aileron Bold';
    }

    &__gallery-delete {
        background-color: transparent;
        font-weight: bolder;
        border: none;

    }

    // &__gallery-delete {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: flex-end;
    //     margin: 0;
    // }
}