@font-face {
  font-family: "Aileron Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/Aileron-Regular.woff") format("woff");
}
@font-face {
  font-family: "Aileron Thin";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/Aileron-Thin.woff") format("woff");
}
@font-face {
  font-family: "Aileron Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/Aileron-Bold.woff") format("woff");
}
@font-face {
  font-family: "Aileron Black";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/Aileron-Black.woff") format("woff");
}
@font-face {
  font-family: "Aileron UltraLight";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/Aileron-UltraLight.woff") format("woff");
}
.profile {
  font-family: "Aileron Thin";
  cursor: pointer;
}
.profile__user-container {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.profile__user-border {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 1rem;
  margin-left: 3vw;
}
.profile__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 320px) {
  .profile__username {
    margin-left: 1rem;
  }
}
.profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4.2rem;
  margin-top: -2rem;
}
.profile__posts-number {
  font-family: "Aileron Bold";
}
.profile__posts {
  padding-left: 3vw;
}
.profile__posts-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 320px) {
  .profile__bio {
    margin-left: 3vw;
  }
}
@media only screen and (min-width: 768px) {
  .profile__bio {
    margin-left: 12vw;
  }
}
@media only screen and (min-width: 1200px) {
  .profile__bio {
    margin-left: 7.2vw;
  }
}
@media only screen and (min-width: 320px) {
  .profile__form {
    display: none;
    width: 80%;
    height: 200px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    position: absolute;
    left: 2rem;
    top: -5rem;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 0 5px 5px lavender;
            box-shadow: 0 0 5px 5px lavender;
  }
}
@media only screen and (min-width: 768px) {
  .profile__form {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .profile__form {
    width: 30%;
  }
}
.profile__gallery-image {
  width: 50%;
  border-radius: 5px;
}
@media only screen and (min-width: 320px) {
  .profile__button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 3vw;
  }
}
@media only screen and (min-width: 1200px) {
  .profile__button-container {
    margin-right: 1vw;
  }
}
@media only screen and (min-width: 320px) {
  .profile__form-exit-button {
    background-color: white;
    border: 1px solid white;
    padding-top: 0.5rem;
    font-weight: bolder;
  }
}
@media only screen and (min-width: 320px) {
  .profile__form-label, .profile__form-input, .profile__form-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 3vw;
    margin-top: 0.5rem;
    font-size: 15px;
    font-family: "Aileron Regular";
  }
}
@media only screen and (min-width: 320px) {
  .profile__form-input {
    width: 200px;
  }
}
@media only screen and (min-width: 320px) {
  .profile__form-button {
    background-color: black;
    width: 62px;
    height: 28px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 320px) {
  .profile__open-button {
    background-color: black;
    color: white;
    margin-left: 3vw;
    border: 1px solid black;
    border-radius: 5px;
    font-family: "Aileron Regular";
    font-size: 12px;
    height: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .profile__open-button {
    margin-left: 12vw;
  }
}
@media only screen and (min-width: 1200px) {
  .profile__open-button {
    margin-left: 7.2vw;
  }
}
.profile__open-button-container {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 320px) {
  .profile__form-container {
    position: relative;
  }
}
@media only screen and (min-width: 320px) {
  .profile__gallery-image {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) {
  .profile__gallery-image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 0.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .profile__gallery-image-container {
    width: 60%;
    margin: auto;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .profile__gallery-image-container {
    width: 40%;
    margin-top: 1rem;
  }
}
.profile__caption-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (min-width: 320px) {
  .profile__gallery-caption, .profile__gallery-username, .profile__gallery-delete {
    font-size: 13px;
    padding-right: 0.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .profile__gallery-caption, .profile__gallery-username, .profile__gallery-delete {
    font-size: 15px;
  }
}
.profile__gallery-username {
  font-family: "Aileron Bold";
}
.profile__gallery-delete {
  background-color: transparent;
  font-weight: bolder;
  border: none;
}
/*# sourceMappingURL=profile.component.css.map */