<section class="profile">
    <app-header></app-header>
    <div class="profile__container">
        <div class="profile__user-container">
            <div class="profile__image-container">
            <div class="profile__user-border">
                <p class="profile__image"><fa-icon [icon]="faSmile"></fa-icon></p>
        </div>
            <p class="profile__username">{{ user.username }}</p>
            <!-- <p class="profile__username">zzzemen</p> -->
        </div>
        <div class="profile__info">
            <!-- <div class="profile__posts">
                <p class="profile__posts-number">10</p>
                <p class="profile__posts-title">posts</p>
            </div> -->
            <div class="profile__posts">
                <p class="profile__posts-number">400</p>
                <p class="profile__posts-title">followers</p>
            </div>
            <div class="profile__posts">
                <p class="profile__posts-number">250</p>
                <p class="profile__posts-title">following</p>
            </div>
        </div>
        <p class="profile__bio">welcome to my page</p>
        <div class="profile__open-button-container">
            <button class="profile__open-button" 
            (click)="openForm()">upload a photo</button>
        </div>
    </div>
    </div>
    <div class="profile__form-container">
    <div class="profile__form-wrapper"></div>
    <form action="" class="profile__form" method="post" id="profileForm" enctype="multipart/form-data" role="form">
        <!-- <form action="" class="profile__form" method="post" id="profileForm" enctype="multipart/form-data" role="form" (ngSubmit)="onSubmit()"> -->
        <div class="profile__button-container">
        <label class="profile__form-label">upload a photo</label>
        <button type="submit" class="profile__form-exit-button" (click)="closeForm()">x</button>
    </div>
        <input type="file" class="profile__form-input" name="photo" id="photo" (change)="onFileChanged($event)">
        <!-- <input type="file" class="profile__form-input" name="photo" id="photo" multiple="multiple" (change)="onMultipleFilesChanged($event)"> -->
        <!-- <button (click)="fileInput.click()">select file</button> -->
        <label class="profile__form-label">caption:</label>
        <input type="text" class="profile__form-input" name="caption" id="caption" [(ngModel)]="caption">
        <button type="submit" class="profile__form-button" (click)="onUpload()">upload</button>
        <!-- <button type="submit" class="profile__form-button" (click)="closeForm()">close</button> -->
    </form>
</div>
    <div class="profile__gallery-container">
        <div class="profile__gallery-image-container" > <!--*ngFor="let image of images" src={{image.imageSrc}}-->
            <img class="profile__gallery-image" [src]="imageSrc" alt="">
            <!-- <img class="profile__gallery-images" src="" alt=""> -->
            <div class="profile__caption-container">
            <!-- <p class="profile__gallery-username">{{user.username}} •</p> -->
            <p class="profile__gallery-caption">{{user?.photo?.caption}}</p>
            <button class="profile__gallery-delete" (click)="deleteImage()">x</button>
        </div>
        </div>
    </div>
</section>
