<section class="profile">
    <app-header></app-header>
    <div class="profile__container">
        <div class="profile__user-container">
            <div class="profile__user-border">
                <p class="profile__image"><fa-icon [icon]="faMeh"></fa-icon></p>
            </div>
            <p class="profile__username">_fysal</p>
        </div>
        <div class="profile__info">
            <div class="profile__posts">
                <p class="profile__posts-number">10</p>
                <p class="profile__posts-title">posts</p>
            </div>
            <div class="profile__followers">
                <p class="profile__posts-number">400</p>
                <p class="profile__posts-title">followers</p>
            </div>
            <div class="profile__following">
                <p class="profile__posts-number">250</p>
                <p class="profile__posts-title">following</p>
            </div>
        </div>
        <p class="profile__bio">welcome to my page</p>
    </div>
</section>
