<section class="profile">
    <app-header></app-header>
    <div class="profile__container">
        <div class="profile__user-container">
            <div class="profile__image-container">
            <div class="profile__user-border">
                <p class="profile__image"><fa-icon [icon]="faSmile"></fa-icon></p>
        </div>
            <p class="profile__username">{{user.username}}</p>
            <!-- <p class="profile__username">zzzemen</p> -->
        </div>
        <div class="profile__info">
            <div class="profile__posts">
                <p class="profile__posts-number">10</p>
                <p class="profile__posts-title">posts</p>
            </div>
            <div class="profile__posts">
                <p class="profile__posts-number">400</p>
                <p class="profile__posts-title">followers</p>
            </div>
            <div class="profile__posts">
                <p class="profile__posts-number">250</p>
                <p class="profile__posts-title">following</p>
            </div>
        </div>
        <p class="profile__bio">welcome to my page</p>
    </div>
    </div>
    <button class="profile__open-button" 
    (click)="openForm()">upload a photo</button>
    <div class="profile__form-wrapper"></div>
    <form action="" class="profile__form" method="post" id="profileForm">
        <label class="profile__form-label">upload a photo</label>
        <input type="file" class="profile__form-input" name="photos">
        <label class="profile__form-label">caption:</label>
        <input type="text" class="profile__form-input">
        <button type="submit" class="profile__form-button">upload</button>
        <button type="submit" class="profile__form-button" (click)="closeForm()">close</button>
    </form>
    <div class="profile__gallery-container">
        <div class="profile__gallery-image-container">
            <img class="profile__gallery-image" src="../../assets/images/gallery-2.jpg" alt="art">
            <p class="profile__gallery-caption">colourful image</p>
            <button class="profile__gallery-delete">delete</button>
        </div>
    </div>
</section>
