@import '../styles/partials/variables';
@import '../styles/partials/fonts';

.profile {
    font-family: 'Aileron Thin';
    cursor: pointer;

    &__user-container {
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
    }

    &__user-border {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid black;
        margin-top: 1rem;
        margin-left: 3vw;
    }

    &__image {
        display: flex;
        justify-content: center;
    }

    &__image-container {
        display: flex;
    }

    &__username {
        @include mobile {
            margin-left: 1rem;
        }
    }

    &__info {
        display: flex;
        margin-left: 3.5rem;
        margin-top: -2rem;
    }

    &__posts-number {
        font-family: 'Aileron Bold';
    }

    &__posts {
        padding-left: 3vw;
    }

    &__posts-number {
        display: flex;
        justify-content: center;
    }

    &__bio {
        @include mobile {
            margin-left: 3vw;
        }
        @include tablet {
            margin-left: 10vw;
        }
    }

    &__form {
        display: none;
        width: 80%;
        height: 200px;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        position: absolute;
        left: 2rem;
        top: -5rem;
        background-color: white;
        box-shadow: 0 0 5px 5px lavender;
        // box-shadow: -5px -5px 30px 5px pink, 5px 5px 30px 5px blue;
        // z-index: 9;
    }

    &__gallery-image {
        width: 50%;
    }

    &__button-container {
        @include mobile {
            display: flex;
            justify-content: space-between;
            margin-right: 3vw;
        }
    }

    &__form-exit-button {
        @include mobile {
            background-color: white;
            border: 1px solid white;
            padding-top: 0.5rem;
            font-weight: bolder;
        }
    }

    &__form-label,
    &__form-input,
    &__form-button {
        @include mobile {
            // margin: auto;
            display: flex;
            // flex-direction: column;
            align-items: left;
            margin-left: 3vw;
            margin-top: 0.5rem;
            font-size: 15px;
            font-family: 'Aileron Regular';
            // justify-content: center;
        }
    }

    &__form-input {
        @include mobile {
            width: 200px;
        }
    }

    &__form-button {
        @include mobile {
            background-color: black;
            width: 62px;
            height: 28px;
            color: white;
            border: 1px solid black;
            border-radius: 5px;
            // margin: auto;
            margin-top: 2rem;
            // font-size: 12px;

        }
    }

    &__open-button {
        @include mobile {
            background-color: black;
            color: white; 
            margin-left: 3vw;
            border: 1px solid black;
            border-radius: 5px;
        }
        @include tablet {
            margin-left: 10vw;
        }
    }

    &__open-button-container {
        margin-top: -0.5rem;
        margin-bottom: 0.5rem;
    }

    // &__form-input {
    //     @include mobile {
    //         display: flex;
    //         align-items: center;
    //         flex-direction: column;
    //         margin: 0 auto;
    //         // margin: auto;
    //         // margin-top: 0.2rem;
    //         // margin-left: 20%;
    //     }
    // }

    &__form-container {
        @include mobile {
            position: relative
        }
    }
}