<form class="login">
    <div class="login__container">
        <input class="login__username" type="text" placeholder="username" id="username" required>
        <!-- <div class="login__invalid-message" *ngIf="signUpForm.submitted && email.errors">
            <label class="login__invalid-text" *ngIf="email.errors.required">this field is required</label>
            <label class="login__invalid-text" *ngIf="email.errors.pattern">user doesn't exist</label>
        </div> -->
        <input class="login__password" type="password" placeholder="password" id="password" required>
        <!-- <div class="login__invalid-message" *ngIf="signUpForm.submitted && password.errors">
            <label class="login__invalid-text" *ngIf="password.errors.required">this field is required</label>
            <label class="login__invalid-text" *ngIf="password.errors.minlength">password is incorrect</label>
        </div> -->
      <button class="login__button" type="submit" value="Submit">login</button>
    </div>
</form>

<!--<form class="login" [formGroup]="loginForm" (ngSubmit)="loginUser()">-->
<!--<form (submit)="loginUser($event)">-->
