@import '../styles/partials/variables';
@import '../styles/partials/fonts';

.login {
    font-family: 'Aileron Thin';

    &__container {
        @include mobile {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 1rem;
        }
    }
    &__username,
    &__password {
        @include mobile {
            width: 60%;
            margin-bottom: 0.5rem;
            height: 25px;
            border-radius: 5px;
            border: 2px solid black;
            outline: none;
            font-family: 'Aileron Regular';
        }
        @include tablet {
            width: 30%;
        }
        @include desktop {
            width: 20%;
        }
    }

    ::placeholder {
        font-family: 'Aileron Thin';
        padding-left: 0.5rem;
    }

    &__button {
        @include mobile {
            width: 30%;
            height: 28px;
            font-family: 'Aileron Regular';
            border: 1px solid black;
            outline: none;
            background-color: black;
            color: white;
            border-radius: 5px;
            margin-top: 0.5rem;
        }
        @include tablet {
            width: 15%;
        }
        @include desktop {
            width: 10%;
        }
    }

    &__invalid-message {
        @include mobile {
            margin-bottom: 0.5rem;
        }
    }

    &__invalid-text {
        @include mobile {
            color: white;
            font-size: 12px;
        }
    }

 }