<form class="login">
    <div class="login__container">
        <input class="login__username" type="text" placeholder="username" id="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" required>
        <input class="login__password" type="password" placeholder="password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
    <div class="login__invalid-message" *ngIf="showErrorMessage">
        <label class="login__invalid-text">invalid username and password, please try again</label>
    </div>
        <button class="login__button" type="submit" value="Submit" (click)="loginUser($event)">login</button>
    </div>
</form>
