@import '../styles/partials/variables';
@import '../styles/partials/fonts';

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.header {
    font-family: 'Aileron Thin';
    cursor: pointer;

    &__logo {
        @include mobile {
            font-family: 'Aileron Black';
            font-size: 25px;
            margin: 0.6rem 0 0 0.6rem;
            outline: none;
        }
        @include tablet {
            font-size: 30px;
        }
    }

    &__container {
        @include mobile {
            display: flex;
            justify-content: space-between;
        }
    }

    &__nav-list {
        @include mobile {
            padding-left: 5vw;
            display: flex;
            margin-right: 3vw;
        }
    }

    &__nav-list-item {
        @include mobile {
            list-style-type: none;
        }
    }

    &__nav-list-item:hover {
        font-weight: bold;
    }

    &__nav-link {
        @include mobile {
            text-decoration: none;
            color: black;
            font-size: 15px;
            padding-right: 8px;
            background-color: transparent;
            border: none;
            outline: none;
            font-family: 'Aileron Thin';
        }
        @include tablet {
            font-size: 16px;
        }
    }
}